.header {
    display: flex;
    justify-content: space-between;
    padding: var(--margin-40);
    background: var(--clr-background-main);

    &__search,
    app-breadcrumb {
        flex: 1;
    }

    &__logo {
        width: var(--width-panel-navigation);
    }

    &__user {
        display: flex;
    
        img {
            width: 1rem;
            height: 1rem;
            margin-right: 10px;
        }
    }
}