<div class="albums-list">
  <ng-container *skeleton="!albums; repeat: 10; className: 'mb-2'; height: '292px'; width: '250px';">
    <div *ngFor="let album of albums" class="albums-list__album">
      <a [routerLink]="'/album/' + album.url">
        <img [src]="album.image" alt="" srcset="">
      </a>
      <p class="txt-small-title">{{ album.title }}</p>
      <p *ngIf="(album.getArtist() | async) as artist; else loading">{{ artist.name }}</p>
      <button (click)="playAlbum(album)" class="cta">
        <span class="material-symbols-outlined">play_arrow</span>
      </button>

      <ng-template #loading >
        <p *skeleton="true; height: '1rem'; width: 'rand';"></p>
      </ng-template>
    </div>
  </ng-container>
</div>
