a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: var(--width-image-artist-s);
    aspect-ratio: 1/1;
    border-radius: 50%;
}

p {
    margin-top: 10px;
}
