:host {
    display: inline-block;
    width: var(--width-card-album-s);
}

.album {
    &__image {
        position: relative;

        &:hover {
            .button-like {
                display: flex;
            }
        }

        img {
            display: block;
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: var(--bdr-radius-20)
        }

        .button-like {
            display: none;
        }
    }

    &__button {
        position: absolute;
        display: flex;
        bottom: 15px;
        left: 15px;

        .button-play {
            margin-right: 15px;
        }
    }
}

p {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

