<div class="panel-user">
    <div>
        <img>
        <p>Playlist random</p>
    </div>
    <div>
        <img>
        <p>Song name</p>
        <button>Like</button>
        <button>Share</button>
        <button>Play</button>
    </div>
    <div>
        <nav class="txt-title">
            <ul>
                <li><a href="" class="active">Playlists</a></li>
                <li><a href="">Songs</a></li>
                <li><a href="">Albums</a></li>
            </ul>
        </nav>
        <ul class="panel-user__playlists">
            <li *ngFor="let playlistId of [0,1,2,3,4,5]">
                <a href="">
                    <img src="" alt="">
                    <p class="txt-small-title playlist-name">Playlist {{ playlistId }}</p>
                    <p>date</p>
                </a>
            </li>
        </ul>
    </div>
</div>