.panel-user {
    max-width: var(--width-panel-user);
    width: var(--width-panel-user);

    &__playlists {
        margin-top: 20px;

        li {
            margin-top: 15px;
        }

        a {
            display: flex;
            align-items: center;
            row-gap: 10px;
        }

        img {
            width: 16px;
            height: 16px;
        }

        button {
            margin-top: 10px;
        }

        .playlist-name {
            flex: 1;
            margin-right: 5px;
            margin-left: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
