<div class="panel-user">
    <p class="txt-title ">Playlists</p>
    <ul class="panel-user__playlists">
        <li *ngFor="let playlist of playlists">
            <a [routerLink]="'/playlist/'+playlist.url">
                <img [src]="playlist.image" alt="">
                <p class="txt-small-title playlist-name">{{playlist.name}} {{ playlist.id }}</p>
            </a>
        </li>
        <button class="link link--underline" (click)="newPLaylist()">+ Create a playlist</button>
    </ul>
</div>
