<div class="player">
  <div class="player__song">
    <img>
    <div>
      <p>{{ currentSong?.title }}</p>
    </div>
  </div>
  <div class="player__timeline">
    <button (click)="previousSong()" class="material-symbols-outlined">skip_previous</button>
    <button (click)="togglePlay()" class="material-symbols-outlined">{{(playerService.playing$ | async) ? 'play_arrow' : 'pause'}}</button>
    <button (click)="nextSong()" class="material-symbols-outlined">skip_next</button>
    <input type="range" id="volume" name="volume" [formControl]="this.playerService.progressionControl"
      [value]="this.playerService.progressionControl.value" min="0" max="100">
    <app-youtube-player *ngIf="playerService.musicQueue[0]"></app-youtube-player>
  </div>
  <div class="player__volume">
    <button class="material-symbols-outlined" (click)="toggleMute()">
      {{ !playerService.volumeControl.value ? 'volume_off' : 'volume_up' }}
    </button>
    <input [formControl]="playerService.volumeControl" type="range" id="volume" name="volume"
      [value]="playerService.volumeControl.value" min="0" max="100">
  </div>
</div>
