:host {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.player {
    display: flex;
    height: var(--height-player);
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--margin-40);
    background-color: var(--clr-background-player);
    backdrop-filter: blur(10px);

    &__song {
        display: flex;
        min-width: 15vw;

        img {
            width: 16px;
            height: 16px;
            background-color: red;
        }
    }

    &__middle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        min-width: 50vw;

        input {
            width: 50vw;
        }

        .timeline-button {
            display: flex;
            justify-content: center;
            gap: 50px;
        }
    }

    &__volume {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        min-width: 15vw;
    }
}
