<div class="player">
  <div class="player__song">
    <img>
    <div>
      <p>{{ currentSong?.title }}</p>
    </div>
  </div>
  <div class="player__timeline">
    <button (click)="previousSong()" class="material-symbols-outlined">skip_previous</button>
    <button (click)="togglePlay()" class="material-symbols-outlined">play_pause</button>
    <button (click)="nextSong()" class="material-symbols-outlined">skip_next</button>
    {{this.progression}}
    <input type="range" id="volume" name="volume" [value]="this.progression" min="0" max="100">
    <app-youtube-player *ngIf="playerService.musicQueue[0]"
      [videoId]="playerService.musicQueue[0].youtube.split('/').pop() || ''" [playing]="playerService.playing"
      (progression)="handleProgressionChange($event)"></app-youtube-player>
  </div>
  <div class="player__volume">
    <button class="material-symbols-outlined" (click)="toggleMute()">
      {{ !playerService.volume ? 'volume_off' : 'volume_up' }}
    </button>
    <input [formControl]="playerService.VolumeControl" type="range" id="volume" name="volume"
      [value]="playerService.volume" min="0" max="100">
  </div>
</div>
