<div class="player">
  <div class="player__song">
    <div class="txt-small-title">
      <p>{{ currentSong?.title }}</p>
      <button *ngIf="currentSong && currentSong.id" (click)="like.toggleSongLike(currentSong.id)"
        [ngClass]="'cta cta--no-border ' + (like.isSongLiked(currentSong.id) ? 'cta--filled' : '') ">
        <span class="material-symbols-outlined" class="material-symbols-outlined">
          favorite
        </span>
      </button>
    </div>
  </div>
  <div class="player__middle">
    <div class="timeline-button">
      <button (click)="previousSong()" class="cta cta--no-border">
        <span class="material-symbols-outlined">
          skip_previous
        </span>
      </button>
      <button (click)="togglePlay()" class="cta cta--invert">
        <span class="material-symbols-outlined">
          {{(playerService.playing$ | async) ? 'play_arrow' : 'pause'}}
        </span>
      </button>
      <button (click)="nextSong()" class="cta cta--no-border">
        <span class="material-symbols-outlined">
          skip_next
        </span>
      </button>
    </div>
    <input type="range" id="volume" name="volume" [formControl]="this.playerService.progressionControl"
      [value]="this.playerService.progressionControl.value" min="0" max="100">
    <app-youtube-player *ngIf="playerService.musicQueue[0]"></app-youtube-player>
  </div>
  <div class="player__volume">
    <button class="material-symbols-outlined" (click)="toggleMute()">
      {{ !playerService.volumeControl.value ? 'volume_off' : 'volume_up' }}
    </button>
    <input [formControl]="playerService.volumeControl" type="range" id="volume" name="volume"
      [value]="playerService.volumeControl.value" min="0" max="100">
  </div>
</div>
