<div class="playlist-details">
  <div class="playlist-details__infos">
    <img [src]="playlist.image" alt="playlist image">
    <div class="infos-playlist">
      <p class="infos-playlist__title txt-big-title">{{ playlist.name }}</p>
      <p *ngIf="user">{{ user.name }}</p>
      <div class="playlist-details__buttons">
        <button (click)="playPlaylist()" class="cta">
          <span class="material-symbols-outlined">play_arrow</span>
        </button>
      </div>
    </div>
  </div>
  <p *ngIf="!playlist.songs?.length">You haven't added any song yet. <a routerLink="/album" class="link--underline">Explore</a></p>
  <p *ngIf="playlist.songs?.length">Want to find more songs ? <a routerLink="/album" class="link--underline">Explore</a></p>
  <app-song *ngFor="let song of playlist.songs; let index = index" class="playlist-details__list-songs" [song]="song" [index]="index" [queue]="playlist.songs"></app-song>
</div>
