<div *ngIf="isVisible" class="floating-menu" (click)="toggleVisibility()">
</div>
<ul *ngIf="isVisible">
    <li>
        <button (click)="addQueue()">
            Add queue <span class="material-symbols-outlined">add</span>
        </button>
    </li>
    <li>
        <button (click)="toggleExpanded()">
            Add playlist <span class="material-symbols-outlined">{{expanded ? "expand_more" : "expand_less"}}</span>
        </button>
    </li>
    <div *ngIf="expanded">
        <li *ngFor="let playlist of playlists">
            <button (click)="addToPlaylist(playlist.id)">
              {{playlist.name}}
            </button>
        </li>
    </div>
</ul>
