.app {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;

    &__content {
        display: flex;
        flex: 1;
        padding-right: var(--margin-40);
        padding-left: var(--margin-40);
        background-color: var(--clr-background-main);
        overflow: hidden;
    }
}

main {
    flex: 1;
    padding-right: var(--margin-40);
    padding-left: var(--margin-40);
    padding-bottom: var(--height-player);
    background-color: var(--clr-background-main);
    overflow: auto;
}
