h1 {
    margin-bottom: 20px;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-40);
    justify-content: space-around;

    &__more {
        width: 100% ;
        padding: 4rem 0 2rem 0;
        text-align: center;
    }
}