@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..200,0..1,-50..200');

:root {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    font-size: var(--ft-size-main);
    font-weight: var(--ft-weight-400);
    color: var(--clr-text-main);
    text-transform: capitalize;
}

a,
.link {
    font-size: var(--ft-size-main);
    font-weight: var(--ft-weight-400);
    color: var(--clr-text-main);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: var(--clr-text-selected);
    }
}

// Class text
.txt-body {
    font-size: var(--ft-size-main);
    font-weight: var(--ft-weight-400);
    color: var(--clr-text-main);
}

h1,
.txt-big-title {
    font-size: var(--ft-size-big-title);
    font-weight: var(--ft-weight-600);
    color: var(--clr-text-title);
}

.txt-title {
    font-size: var(--ft-size-title);
    font-weight: var(--ft-weight-600);
    color: var(--clr-text-title);
}

.txt-selected,
.txt-input,
.txt-small-title {
    font-size: var(--ft-size-main);
    font-weight: var(--ft-weight-400);
    color: var(--clr-text-title);
}
