// Colors
$black: #000000;
$grey-100: #121212;
$grey-200: #222222;
$grey-300: #272727;
$grey-400: #2d2d2d;
$grey-500: #353535;
$grey-transperence: #121212dd;
$white: #ffffff;
$white-100: #fefefefe;
$white-87: #ffffffde;
$white-60: #ffffff99;
$white-38: #ffffff5e;

:root {
    //Themes
    //Themes Dark
    --clr-background-main: #{$black};
    --clr-background-page: #{$grey-100};
    --clr-background-player: #{$grey-transperence};
    --clr-background-invert: #{$white};

    --clr-background-input: #{$grey-100};
    --clr-border-input: #{$grey-500};
    --clr-border-input-focus: #{$white-100};

    --clr-background-input-range: #{$grey-200};
    --clr-background-input-range-progress: #{$white};

    --clr-background-cta: #{$white-60};
    --clr-background-cta-hover: #{$white-87};

    --clr-text-main: #{$white-60};
    --clr-text-selected: #{$white-87};
    --clr-text-title: #{$white-87};
    --clr-text-invert: #{$grey-100};
    --clr-text-white: #{$white};

    //Themes White


    //Margin
    --margin-40: 40px;

    //Width
    --width-panel-navigation: 150px;
    --width-panel-user: 250px;
    --height-player: 100px;

    //Text
    --ft-weight-400: 400;
    --ft-weight-600: 600;
    --ft-weight-700: 700;

    --ft-size-main: 1rem;
    --ft-size-title: 1.2rem;
    --ft-size-big-title: 2rem;
    --ft-size-h1: 3rem;
}
