<h1>Home</h1>
<div class="home__features">
    <h2>Features</h2>
    <ul class="home__features-list">
        <li>
            <app-song *ngFor="let song of featuresSong; let index = index" [song]="song" [index]="index" [queue]="[song]"></app-song>
        </li>
        <li>
            <app-artist-card [artist]="featureArtist"></app-artist-card>
        </li>
          <li>
            <app-album-card [album]="featureAlbum"></app-album-card>
          </li>
    </ul>
</div>
<div>
  <h2>Discover artists</h2>
  <ul class="home__discover">
    <app-artist-card *ngFor="let artist of artists.slice(0, 10)" [artist]="artist"></app-artist-card>    
  </ul>
</div>
<div class="home__stats">
  <h2>Stats</h2>
  <div class="stats">
    <div class="stats__left">
      <p class="txt-nb">{{songsLike.length}}</p>
      <h3>Likes</h3>
    </div>
    <div class="stats__right">
      <p class="txt-nb">{{playlist.length}}</p>
      <h3>Playlist</h3>
    </div>
  </div>
</div>

