h1 {
  margin-bottom: 20px;
}

.home {
  &__top-list,
  &__news-list {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;

    li {
      display: flex;
      width: 28%;
      flex-direction: column;
      align-items: center;
    }

    app-song {
      margin-bottom: 10px;
    }
  }

  &__stats {
    .stats {
      display: flex;
      justify-content: space-evenly;

      &__left,
      &__right {
        text-align: center;
      }
    }
  }
}
