h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

.home {
  &__discover,
  &__features-list {
    margin-bottom: 20px;
  }

  &__discover {
    display: flex;
    align-items: center;
    gap:20px;
    padding-bottom: 5px;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      height: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent; 
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--clr-border-input);
      border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--clr-border-input-focus); 
    }
  }

  &__features-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;

    li {
      display: flex;
      width: 28%;
      flex-direction: column;
      align-items: center;
    }

    app-song {
      margin-bottom: 10px;
      text-align: start;
    }
  }

  &__stats {
    .stats {
      display: flex;
      justify-content: space-evenly;

      &__left,
      &__right {
        text-align: center;
      }
    }
  }
}
