.video {
  display: block;
  position: absolute;
  top: calc((var(--width-panel-navigation) + var(--margin-40)) * -1);
  left: 0;
  width: calc(var(--width-panel-navigation) + var(--margin-40));
  height: calc(var(--width-panel-navigation) + var(--margin-40));
}
