.album-details {
    &__play-song {
        display: flex;
        flex: 1;
        align-items: center;
        
        .song-left {
            width: 30px;
            text-align: center;

            &__index {
                display: inline-block;
            }

            &__play {
                display: none;
            }
        }


        &:hover {
            .song-left {
                &__index {
                    display: none;
                }

                &__play {
                    display: flex;
                }
            }
        }
    }

    &__infos {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: var(--margin-40);
    }

    &__list-songs {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__song-title {
        display: inline;
        margin-right: 5px;
        margin-left: 10px;
    }

    &__length {
        min-width: 50px;
        text-align: end;
    }

    .infos-album {
        margin-left: 20px;
        margin-top: 20px;

        &__title {
            margin-bottom: 10px;
        }
    }
}