.album-details {
    &__infos {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: var(--margin-40);
    }

    &__list-songs {
        margin-top: 20px;
    }

    .infos-album {
        margin-left: 20px;
        margin-top: 20px;

        &__title {
            margin-bottom: 10px;
        }
    }
}